
.button-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  max-height: 45px;

  &.google-sign-in {
    background-color: #0077ff;
    box-shadow: 0 0 1rem rgba(0, 119, 255, 0.3);

    &:hover {
      background-color: #0058c9;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
